.header {
	padding-top: 20px;
	color: #FFF;
	background-color: #405c71;
    position: relative;

    &__title {
        margin: 0;
        font-weight: normal;
        font-size: 165%;
    }

    &__slogan {
        font-size: 90%;
    }
}



